---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Welcome!</h1>
      <p>
        Hi I'm Kevin and this is my Personal Blog for Documentation and writing about useful Software and Linux
        related topics. Creating a Histogram on all the things I have ever seen. Also Setups/Tutorials to paste
        from that I need constantly.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>
    <section id="fields">
      <h2>Fields of Work</h2>
      <ul>
        <li><b>💻 Full Stack Webdevelopement: </b>Starting with Java-Spring and now trying out different Python-Frameworks.</li>
        <li><b>🔢 Data Science: </b>Mostly playing around with R or working with Pandas.</li>
        <li><b>🧠 Machine Learning: </b>From linear regression to SVNs.</li>
    </ul>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  .hero-image {
  }

  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  #fields {
            background-color: rgb(42, 44, 82); /* Grey background color */
            border-radius: 10px; /* Rounded corners */
            padding: 30px; /* Add some padding for spacing */
        }

  #fields h2{
    @apply my-4 inline-block text-3xl font-bold sm:my-7 sm:text-3xl;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
